/* Helper classes */
.hover-default:hover {
	cursor: default;
}

.hover-pointer:hover {
	cursor: pointer;
}

.margin-top {
	margin-top: 1.5rem;
}

.margin-top-large {
	margin-top: 6.5rem;
}

.margin-bottom {
	margin-bottom: 1.5rem;
}



/* Main page layout stuff */
.navbar {
	border-radius: 0.4rem;
	position: fixed;
	margin: 1.5rem;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.button {
	border-radius: 0.5rem;
	background-color: var(--bs-primary);
	padding: 0.5rem;
}

.button:hover {
	cursor: pointer;
}

.card-header h5 {
	margin-top: 0.5rem
}

.card-footer {
	font-size: 10pt;
}

.card:hover {
	background-color: #171b20;
}

textarea {
	box-sizing: border-box;
	height: 25rem;
	resize: none;
}

.input-red {
	border-color: red;
	box-shadow: 0 0 0 .25rem rgba(255, 0, 0, .25)
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #222;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 8px;
}