/* Helper classes */
.hover-default:hover {
	cursor: default;
}

.hover-pointer:hover {
	cursor: pointer;
}

.margin-top {
	margin-top: 1.5rem;
}



/* Main page layout stuff */
.navbar {
	border-radius: 0.4rem;
}

.button {
	border-radius: 0.5rem;
	background-color: var(--bs-primary);
	padding: 0.5rem;
}

.button:hover {
	cursor: pointer;
}

.card-header h5 {
	margin-top: 0.5rem
}

.card-footer {
	font-size: 10pt;
}

.card:hover {
	background-color: #171b20;
}

textarea {
	height: 100%;
}